@model ChildCentre.ViewModels.LocalPasswordModel
@{
    ViewBag.Title = "Change Password";
}

<div class="row">
    <div class="admin-nav large-5  column">
        <h2><i class="icon-user"></i>Account Panel</h2>
        <ul>
            <li><a href="/Account/ChangeProfile">Change Profile Information</a></li>
            <li><a class="active" href="/Account/ChangePassword">Change Password</a></li>
        </ul>
    </div>
    <div class="admin-content large-18 column">
        <h2>Manage Account / Change Password</h2>
        @ViewBag.StatusMessage
        <div class="admin-body large-14 column">
            <div style="@TempData["isSuccess"]" data-alert class="success-message alert-box">
                <i class="icon-ok-circle"></i>
                <span>Password successfully changed!</span>
                <a href="#" class="close">&times;</a> 
            </div>
            @using (Html.BeginForm("ChangePassword", "Account",
            FormMethod.Post, htmlAttributes: new { data_abide="" })) 
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div>
                <label>@Html.DisplayNameFor(m => m.OldPassword)<small> required</small></label>
                @Html.PasswordFor(m => m.OldPassword, new { required = "", pattern=".{6,}" })
                <small class="error">Enter your old password. Minimum of 6 characters.</small>
            </div>
            <div>
                <label>@Html.DisplayNameFor(m => m.NewPassword)<small> required</small></label>
                @Html.PasswordFor(m => m.NewPassword, new { required = "", pattern=".{6,}" })
                <small class="error">Enter a new password. Minimum of 6 characters.</small>
            </div>    
            <div>
                <label>@Html.DisplayNameFor(m => m.ConfirmPassword)<small> required</small></label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { required = "", data_equalto="NewPassword" })
                <small class="error">Passwords do not match</small>
            </div>
            <input type="submit" class="button tiny right" value="Change" />
            }
        </div>
    </div>
</div>
