@model IEnumerable<ChildCentre.ViewModels.ProgramList>

@{
    ViewBag.Title = "Report List";
}
<div class="row">
    <div class="admin-nav large-5 column">
        <h2><i class="icon-gears"></i>Supervisor Panel</h2>
        <ul>
            <li><a href="/Supervisor/StaffList/">Manage Staff Accounts</a></li>
            <li><a href="/Supervisor/GuardianList/">Manage Guardian Accounts</a></li>
            <li><a href="/Supervisor/ManagePrograms/">Manage Programs</a></li>
            <li><a class="active" href="/Supervisor/ReportList">Generate Report</a></li>
        </ul>
    </div>
    <div class="admin-content large-18 column">
        <h2>Generate Report /</h2>
        @if (Model.Count() == 0)
        {
            <p class="list-empty">No programs created yet.</p>
        }
        else
        {
            <div class="actions-bar">
                <div class="large-8 column">
                    <input name="search" id="search-field" type="search" placeholder="Search Programs..." />
                </div>
            </div>
            <table id="sortable" class="tablesorter">
                <thead>
                <tr class="table-heading">
                    <th>Name</th>
                    <th>Day Offered</th>
                    <th>Time</th>
                    <th>Child Limit</th>
                    <th class="newaccount-button">
                            
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var a in Model)
                {
                    <tr>
                        <td>@a.Name</td>
                        <td>@a.DayOffered</td>
                        <td>@a.StartTime.ToString("t") - @a.EndTime.ToString("t")</td>
                        <td>@a.ChildLimit</td>
                        <td class="operations">
                            @Html.ActionLink("View Report", "ProgramReport", new { id = a.Id }) 
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
</div>
